/* ==========================================
   main.css
   These are the final styles for the project.
   Author:   Saddam Arbaa
   Website:  TODO
			========================================== */
body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}
